@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


body{
      font-family: "Outfit", sans-serif;
}

.hero{
  background-image: url("/Frame 9325 (1).svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  
  

}




@media (min-width: 1024px){
  .hero{
    min-height: 446px;
    max-height: 448px;
  }
}